{% extends "base.html" %}
{% block head_title %}Activar {{type}}{% endblock %}
{% block title_content %}Activar {{type}}{% endblock %}
{% block sub_title_content %}{% endblock %}
{% block content %}
<div class="container">
{{ msg }}
{% if mode %}
	{% for user in users %}
	{{ user.username }}
	{{ user.email }}
	{{ user.first_name }}
	{{ user.last_name }}
	<button class="btn btn-outline-warning"><a href="/activate_user/{{user.username}}">Aceptar</a></button>
	<button class="btn btn-outline-danger"><a href="/delete_user/{{user.username}}">Rechazar</a></button><br>
	{% endfor %}
{% endif %}
</div>
{% endblock %}