{% extends "base.html" %}
{% block head_title %}Crear Noticia{{type}}{% endblock %}
{% block title_content %}Crear Noticia{% endblock %}
{% block sub_title_content %}{% endblock %}
{% block content %}
<div class="container">
	{% if category_form %}
    <form  method="POST" action="">{% csrf_token %}
    	<input type="text" name="name" placeholder="Nombre"><br>
    	{{category.errors.name}}
        <input type="submit" name="Enviar">
    </form>
    {% endif %}
    Categorias Existentes<br>
    {% for category in categories %}
    {{ category }}<br>
    {% endfor %}
</div>
{% endblock %}