{% extends "base.html" %}
{% block head_title %}{{ user.first_name}} {{user.last_name}}{% endblock %}
{% block title_content %}Cambiar mi Contraseña{% endblock %}
{% block sub_title_content %}{% endblock %}
{% block content %}
<div class="container">
    {% if password_form %}
    <form method="POST">{% csrf_token %}
    	<input type="password" name="old" placeholder="Contraseña Vieja" required="True"><br>
        <input type="password" name="password" placeholder="Contraseña Nueva" required="True">
        <input type="password" name="again" placeholder="Confirme su contraseña" required="True">
        <button type="submit" name="Registrame" class="btn btn-success">Cambiar</button><br>
        {{msg}}
    </form>
    {% endif %}
</div>
{% endblock %}