{% extends "base.html" %}
{% block head_title %}Editar Categoria{% endblock %}
{% block title_content %}Editar Categoria{% endblock %}
{% block sub_title_content %}{% endblock %}
{% block content %}
<div class="container">
	{% if category_form %}
    <form  method="POST" action="">{% csrf_token %}
    	<input type="text" value="{{name}}" name="name" placeholder="Nombre">
    	<button type="submit" name="Enviar" class="btn btn-primary">Guardar</button>
        {{category.errors.name}}
    </form>
    {% endif %}
    Categorias Existentes<br>
    {% for category in categories %}
    {{ category.name }}
    <button class="btn btn-outline-warning"><a href="/edit_category/{{category.id}}">Modificar</a></button>
    <button class="btn btn-outline-danger"><a href="/delete_category/{{category.id}}">Eliminar</a></button><br>
    {% endfor %}
</div>
{% endblock %}