{% extends "base.html" %}
{% block head_title %}{{ user.first_name}} {{user.last_name}}{% endblock %}
{% block title_content %}Primera entrada{% endblock %}
{% block sub_title_content %}Como es tu primera entrada por favor cambia tu contraseña{% endblock %}
{% block content %}
<div class="container">
    {{ msg }}
    {% if password_form %}
    <form method="POST">{% csrf_token %}
        <input type="password" name="password" placeholder="Contraseña" required="True">
        <input type="password" name="again" placeholder="Confirme su contraseña" required="True">
        <button type="submit" name="Registrame" class="btn btn-success">Aceptar</button>
    </form>
    {% endif %}
</div>
{% endblock %}