{% extends "base.html" %}
{% block head_title %}Olvidar Contraseña{% endblock %}
{% block title_content %}Olvidé mi contraseña{% endblock %}
{% block sub_title_content %}{{ msg }}{% endblock %}
{% block content %}
<div class="container">
        {% if forget_form %}
    <form  method="POST" action="" class="form-inline">{% csrf_token %}
      <div class="form-group mx-sm-3">
        <label for="inputPassword2" class="sr-only">Correo</label>
        <input type="text" name="email" class="form-control" id="inputPassword2" placeholder="Correo" required="True">
      </div>
      <button type="submit" name="Enviar" class="btn btn-primary">Enviar correo de recuperación</button>
    </form>
    {% endif %}
</div>
{% endblock %}
