  <body>
    <h1>Pagina Principal Admin</h1>
    <button><a href="{% url 'logout' %}">Cerrar Sesion</a></button>
    <button><a href="{% url 'active_graduated' %}">Activar Egresado</a></button>
    <div class="col-xl-3 col-lg-3 col-md-2 border border-secondary" id="login">
      <form>
        <div class="form-group mb-2">
          <label class="form-group mb-2 mt-4" for="username">Nombre de usuario</label>
          <input type="text" class="form-group" id="username" name="username">
        </div>
        <div class="form-group mb-2">
          <label class="form-group-label" for="password">Contraseña</label> 
          <input type="password" class="form-group" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-succes border-secondary col-12">Ingresar</button>
      </form>
    </div>
