{% extends "base.html" %}
{% block head_title %}Iniciar Sesion{% endblock %}
{% block title_content %}Iniciar Sesion{% endblock %}
{% block sub_title_content %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form class="login" method="POST" action="">{% csrf_token %}
                <input type="text" name="id_user" placeholder="Codigo" />
                <input type="password" name="password" placeholder="Contraseña" />
                <input type="submit" class="btn btn-success" name="Ingresar" value="Ingresar" class="btn btn-success btn-sm" />
                {{ login_form.errors }}
                <div class="row">
                <div class="col-md-6 forgot-pass-content">
                <br>{{ msg }}<br>
                <a href="{% url 'forget_account' %}" class="btn btn-outline-danger">Olvidé mi contraseña</a><br><br>
                <a href="{% url 'register' %}" class="btn btn-outline-warning">Registrarme</a>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
