{% extends "base.html" %}
{% block head_title %}Enviar Mensaje{% endblock %}
{% block title_content %}Enviar Mensaje{% endblock %}
{% block sub_title_content %}{{msg}}{% endblock %}
{% block content %}
<div class="container">
	{% if mensaje_form %}
    <h2>Enviando Mensaje a {{amigo.user.first_name}} {{amigo.user.last_name}}</h2>
    <form  method="POST">{% csrf_token %}
    	<input type="text" name="title" placeholder="Titulo"><br> 
    	<textarea name="body" rows="20" cols="50" placeholder="Escribe aquí la noticia"></textarea><br>
    	<button type="submit" name="Enviar" class="btn btn-primary">Enviar</button>
    </form>
    {% endif %}
</div>
{% endblock %}