{% extends "base.html" %}
{% block head_title %}Registrar{% endblock %}
{% block title_content %}Registrate{% endblock %}
{% block sub_title_content %}¿Cómo te deseas registrar?{% endblock %}
{% block content %}
<div class="container">
	<h2>Clickea en el rol con el que deseas registrarte</h2><br>
	<center>
	<a id="buttonegre" href="{% url 'register_graduated' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Egresado</a><br><br>
	<a id="buttonadmin" href="{% url 'register_admin' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Administrador</a><br>
	</center>
</div>
{% endblock %}

