form.login input, form.login a{
    border-radius: 25px;

}


#Registrame{
    background-color: white;
    color: blue;
    border-color: blue
}

#Registrame:hover{
    background-color: blue;
    color: white;
}

form.login a{
    transition-duration: 0.6s;
}


